body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
img{
  width: 100%;
}
section{
    min-height: 50vh;
    padding: 3em;
}

.deel{
    padding: 50vh 3em;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 3em;
    color: rgba(255,255,255,0.7);
    text-shadow: 0 0 3px grey;
    overflow-x: hidden;
}

.deel--2{
    background-image: url('https://images.unsplash.com/photo-1525160354320-d8e92641c563?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
}

.deel--4{
    background-image: url('https://images.unsplash.com/photo-1517846693594-1567da72af75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
/* https://images.unsplash.com/photo-1517846693594-1567da72af75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80*/
}

.deel--6{
    background-image: url('https://images.unsplash.com/photo-1531650954154-f46d948a992e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
/*https://images.unsplash.com/photo-1531650954154-f46d948a992e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80*/
}
